.container {
  display: var(--csdemo-daily-forecast-display);
}

.description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: var(--csdemo-daily-forecast-description-font-size);
  font-weight: var(--csdemo-daily-forecast-description-font-weight);
  padding-left: var(--csdemo-daily-forecast-description-padding-left);
  padding-right: var(--csdemo-daily-forecast-description-padding-right);
  padding-top: var(--csdemo-daily-forecast-description-padding-top);
  padding-bottom: var(--csdemo-daily-forecast-description-padding-bottom);
}

.description .date {
  font-size: var(--csdemo-daily-forecast-date-font-size);
  font-weight: var(--csdemo-daily-forecast-date-font-weight);
}

.icon img {
  height: var(--csdemo-daily-forecast-image-height);
}

.temperature-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.temperature-group .label {
  margin-left: .25em;
  flex: 1 0 auto;
}
